/* Variables for general colors */
$color-blue: #0000b3;
$color-white: #fff;
$color-orange: #ff944d;
$color-blue-light: #009999;
$color-blue-primary-dark: #026dca;
$color-black: #000;
$color-gray: #f2f2f2;
$color-navy-blue: #0000cc;
$color-layout: #3333ff;
$color-green-light: #b3ffcc;
$color-blue-dark: #1f227a;
$color-blue-primary: #1c4789;

$color-primary: #0275d8;
$color-success: #5cb85c;
$color-info: #5bc0de;
$color-warning: #f0ad4e;
$color-danger: #d9534f;

/* Variables for general size */
$fontsize-xxs: 1rem;
$fontsize-xs: 1.1rem;
$fontsize-s: 1.2rem;
$fontsize-m: 1.4rem;
$fontsize-l: 1.6rem;
$fontsize-xl: 1.8rem;
$fontsize-xxl: 2rem;
$fontsize-xxxl: 2.4rem;
$fontsize-hero-s: 2.6rem;
$fontsize-hero-m: 2.8rem;
$fontsize-display: 3rem;
$fontsize-display-m: 3.2rem;
$fontsize-hero: 3.4rem;
$fontsize-4rem: 4rem;
$fontsize-hero-xl: 6rem;

.error {
  margin: 1rem 0;
  width: 100%;
  color: $color-danger;
  font-size: $fontsize-xxl;
  font-weight: bold;
  text-align: center;
}