@import "../../../public/style/scss_general.scss";

.form-search {
  &_button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    button {
      text-transform: uppercase;
      cursor: pointer;
      padding: 0.5rem 2rem;
      border-radius: 2.5rem;
      font-size: $fontsize-xs;
      margin: 1.5rem 0;
      color: $color-white;
      background-color: $color-blue-primary-dark;
      border: 0.2rem solid $color-blue-primary-dark;
    }
  }

  &_table {
    padding: 3rem;

    &_img {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}