@import "../../../public/style/scss_general.scss";

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 0.1rem solid #dddddd;
  text-align: center;
  padding: 0.5rem;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

th {
  text-transform: uppercase;
  text-align: center;
}